@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(40, 40, 40, .9);
}